@charset "UTF-8";

body {
    background-image: url(img/Albert-Einstein-PNG-File-Download-Free.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #756f6faf;
    text-align: center;
    color: whitesmoke;
 
}

header {
    font-size: 25px;
    
}

article {
    margin: 10pt;
    font-size: 25px;
    padding: 1cm;
    color: rgb(73, 77, 124);
}

section {
    font-size: 25px;
    margin-top: 160pt;
    padding: 0.5cm;
    border: 5px;
    border-style: oblique;
    color: rgb(31, 25, 25);
}

.hist1 {
    font-size: 80%;
    padding: 0.5em;
    color: black;
    text-shadow: 0 0 0.1em rgb(14, 14, 14), 0 0 0.1em rgb(255, 248, 248);
}
.hist2 {
    font-size: 80%;
    padding: 0.5em;
    color: rgb(172, 158, 158);
    text-shadow: 0 0 0.1em rgb(67, 63, 63), 0 0 0.1em rgb(227, 69, 69);
}

.list {
    font-size: 80%;
    padding: 0.2em;
    text-align: left;
    color: black;
}

.bot{
    border: 3px groove #00000046;
    font-size: 20px;
    background-color: #605f57c7;
    color: rgb(247, 240, 240);
    font-style: italic;
    text-align: left;
    text-decoration: none;
    font-family: 'Cardo';
    border-radius: 15px;
}

h2 {
    font-size: 90%;
    color: rgb(135, 53, 53);
    font-family: Arial, Helvetica, sans-serif
    
}

.Curiosidades {
    font-size: 80%;
    color: black;
    font-style: oblique;

}
footer{
    color: #ffffff;
    font-size: 0.75em;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}