@charset "utf-8";

body {
    background-image: url(VL-FR6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 4em;
    text-transform: uppercase
}

img {
    height: 400px;
}

h1 {
    color: #e6e6fa;
    font-size: 40px;
    text-decoration: none;
    color: #171615;
    border: #f3a867 1px oblique;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
    line-height: 300% center;
    font-family: Georgia, "Times New Roman", serif;
    text-align: center;

}

h2 {
    border: black;
    font-size: 28px;
    text-decoration: none;
    color: #161413;
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 5px;
    text-align: center;
}

.velo {
    border: black;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    color: #331f02;
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 5px;
    text-align: center
}

.Todos {
    margin-top: 5%;
    border: black;
    font-size: 20px;
    background-color: #79796e8a;
    color: #161616;
    border: #683e19 5px solid;
    padding: 2em 20px;
    border-radius: 10px;
    margin-top: 5%;
}


.img1 #Todos {
    float: left;
    font-size: 20px;
    color: #0f0f0e;
    border: #6d4f35 4px solid;
    border-radius: 5px;
    margin-top: 1%;
    padding: 2em;
    text-align: right;
}

.img2 #Todos {
    float: right;
    font-size: 18px;
    text-decoration: none;
    color: #000000;
    border: #6d4f35 4px solid;
    border-radius: 5px;
    margin-top: 0%;
    padding: 2em;
    text-align: left;
}

#menu .filmes {
    float: none;
    font-size: 18px;
    text-decoration: none;
    color: #000000;
    border: #6d4f35 2px solid;
    padding: 2em 5px;
    border-radius: 10px;
    margin-top: 15%;
    text-align: center;
}

.lista p {
    font-size: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    color: #14105e;
    border: #6d4f35 2px solid;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 15%;
    text-align: center;
    font-style: italic;
}

.lista {
    float: none;
    font-size: 18px;
    color: #15110e;
    border: #6d4f35 2px solid;
    padding: 2.5px 5px;
    border-radius: 2px;
    margin-top: 2%;
    text-align: left;
    background-color: #796757ae;
}

figcaption {
    font-size: 25px;
}
.btn{
    background: rgb(216, 102, 21);
    color: rgb(9, 9, 9);
    padding: 0.8rem 1.8rem;
    margin-top: 2rem;
    cursor: pointer;
    border:#683e19 solid 

}