@charset "utf-8";
body {
 background-color: #f5c0e8;
 color: #6b0d6b;
 font-family: verdana;
}
h1 {
 background-color: #ce1e76;
 color: #8a169e;
 font-family: Courier, "Lucida Console", monospace;
 line-height: 200%;
 text-shadow: 4px 4px 6px #d87fb0;
 font-style: italic;
 text-align: center;
}
h2 {
 background-color: #d4aed4;
 font-family: Georgia, "Times New Roman", serif;
 text-align: center;
}
p {
    font-size: 0.95em;
    text-indent: 4em;
   }
ul {
    font-weight: bold;
   }
footer {
 font-family: 'Courier New', Courier, monospace;
 color: #333333;
 font-size: 0.80em;
 font-style: italic;
}