@charset "utf-8";
body {
 background-color: green;
 color: #001;
 font-family: verdana;
}

h1 {
 background-color: pink;
 color: rgb(30, 150, 82);
 font-family: Courier, "Lucida Console", monospace;
 line-height: 200%;
 text-shadow: 4px 4px 6px #d87fb0;
 font-style: italic;
}
h2 {
 background-color: #d4aed4;
 font-family: Georgia, "Times New Roman", serif;
 text-align: center;
}
p {
    font-size: 0.95em;
    text-indent: 4em;
   }
ul {
    font-weight: bold;
   }
footer {
 font-family: 'Courier New', Courier, monospace;
 color: hsl(30, 100%, 80% );
 font-size: 0.80em;
 font-style: italic;
}