@charset "utf-8";

body {
    font-family: "Tahoma", sans-serif;
    background: rgba(239, 171, 244, 0.653);
    color: #fff;
    
}
h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 600%;
    color: blueviolet;
}

h2 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 300%;
    color: rgb(185, 15, 162);
}

.col {
    
    float: right;
    width: 30%;
    padding: 8px;
    box-sizing: border-box;
    align-items: center;
    
}
.col2 {
    
    float: left;
    width: 30%;
    padding: 8px;
    box-sizing: border-box;
    align-items: center;
}

.price-box {
    background: rgb(230, 191, 191);
    color: rgb(88, 78, 78);
    list-style-type: none;
    border: 1px solid rgb(27, 27, 27);
    margin: 0;
    padding: 0;
}

.price-box .header {
    background-color: rgb(40, 42, 59);
    color: #fff;
    font-size: 25px;
}

.p {
    font-size: 0.5em;
    text-align: center;
    color: rgb(161, 19, 161) ;
}



.price-box li {
    padding: 20px;
    border-bottom: 20px solid #eee;
    text-align: center;
    color: rgb(93, 35, 123);
}

.btn {
    background-color: #565756;
    border: none;
    color: #fff;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}
.img{

    text-align: center;
    border: 4px solid #565756;
}

@media(max-width:768px) {
    .col {
        width: 100%;
    }
}