@charset "utf-8";

body {
    background-color: #ffffb3;
    color: #681b1b;
    background-image: url(img\castlevania wallpaper 045 - 1536x2732.jpg);
    background-size: cover;
    background-repeat: space repeat;
    background-attachment: fixed;
    width: auto;

}

header {
    padding: 3em;
}

p {
    font-size: 1.4em;
    background-color: rgba(170, 168, 165, 0.534);
    color: rgb(3, 3, 3);
}
h1 {
    background-color: #ffcc009a;
    color: rgb(255, 255, 255);
    text-align: center;
    font-style: italic;
    line-height: 100%;
    font-family: Georgia, “Times New Roman”, serif;
    padding: 1.4em;
}

img {
    height: 340px;
    width: 620px;
    border: 5px #d42626b8 solid;
   
}
.src {
    text-align: center;
    float: right;
    font-family: Papyrus, fantasy;
}
.list {
    text-align: left;
    color: #050505;
    font-style: normal;
    font-size: 18px;
    margin-top: 10%;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: rgba(170, 168, 165, 0.534);
}
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left auto;
}
.bot1{
    border: 2px solid #043d4b;
    font-size: 20px;
    background-color: #ece363c5;
    font-style: italic;
}
.bot2{
    border: 2px solid #043d4b;
    font-size: 20px;
    background-color: #ece363c5;
    font-style: italic;
}
.bot3{
    border: 2px solid #043d4b;
    font-size: 20px;
    background-color: #ece363c5;
    font-style: italic;
}
footer {
    

  bottom: 0;
  left: 0;
  height: 40px;
  position: fixed;
  width: 100%;
}