@charset "utf-8";

body {
    background-color: #ffffb3;
    color: #000000;
    background-image: url(fundo03.png);
    background-size: cover;
    background-repeat: space repeat;
    background-attachment: fixed;
    text-align: left;
    width: auto;

}

main {
    padding: 3em;
}

p {
    font-size: 1.4em;
}

.botoes {
    border: 2px dashed #cb522a;
    background-color: #e7290777;
    color: #e59824;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

h1 {
    background-color: #ffcc00;
    color: rgb(255, 255, 255);
    text-align: center;
    font-style: italic;
    line-height: 100%;
    font-family: Georgia, “Times New Roman”, serif;
    padding: 1.4em;
}

img {
    height: 340px;
    width: 620px;
    border: 5px #d42626 solid;
    display: flex;
}

figcaption {
    text-align: center;
    font-family: Papyrus, fantasy;
}

footer {
    color: #f50303;
    font-size: .75em;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}

.btn {
    font-size: 25px;
    text-decoration: none;
    color: #1a120b;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.super {
    float: right;

}

.list {
    text-align: left;
    color: #b31cb6;
    font-style: normal;
    font-size: 18px;
    margin-top: 10%;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left auto;
}