@charset "UTF-8";

body {
    
    background-image: url(Latest\ Attack\ On\ Titan\ Wallpaper\(9\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: center;

}

img {
        height: 300px;
}

.container {
    padding: 2em;
    display: flex
}

.Resumo {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 1.0rem;
    padding: 2.0rem;
    border: 2px solid #2c560f;
    border-radius: 12px;
    background-color: #b7b78d77;
    color: black;
    background-position: right;
    text-align: left;

}

figcaption {
    font-size: 1.0rem;
    font-weight: 600;
    font-style: oblique;

}

h1 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 6em;
    color: rgb(78, 41, 5);
}

.fotos {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 1.0rem;
    padding: 1.4em;
    border: 2px solid #2c560f;
    border-radius: 12px;
    background-color: #b7b78d77;
    color: rgb(7, 7, 7);
    display: flex;
    text-align: center;

}

.video {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 1.0rem;
    padding: 1.4em;
    border: 2px solid #2c560f;
    background-color: #b7b78d77;
    color: rgb(7, 7, 7);
    display: flex;
        
}

.bot1 {
    border: 2px solid #043d4b;
    font-size: 20px;
    font-style: italic;
    padding: 1px; ;
}

.bot2 {
    border: 2px solid #043d4b;
    font-size: 20px;
    font-style: italic;
}
