@charset "UTF-8";

* {
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
}

body {

    background-image: url(./img2/fundo\ attack.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: center;
    background-position: cover;
    border-left: 7em solid rgb(21, 44, 2);
    border-right: 7em solid rgba(21, 44, 2);
    

}

img {
    height: 300px;
}

.container {
    padding: 0;
    display: flex
}

.Resumo {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 1.0rem;
    padding: 2.0rem;
    border: 2px solid #2c560f;
    border-radius: 12px;
    background-color: #43431590;
    color: rgb(237, 223, 223);
    text-align: justify;
    text-transform: uppercase;


}

figcaption {
    font-size: 1.0rem;
    font-weight: 600;
    font-style: oblique;

}

h1 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 6em;
    color: #533618;
}

.fotos {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 1.0rem;
    padding: 1.4em;
    border: 2px solid #2c560f;
    border-radius: 12px;
    background-color: #59592664;
    color: rgb(255, 255, 255);
    display: flex;
    text-align: center;
    text-decoration: none;
}

.video {
    font-size: 1.2rem;
    margin: 1.0rem;
    padding: 1.4em;
    border: 2px solid #2c560f;
    color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 2rem;
    background-color: #b7b78d71;
    margin-bottom: 2rem;
    text-align: left;
}

.bot1 {
    display: inline-block;
    background: #000;
    color: #fff;
    padding: 0.9rem 1.9rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    cursor: pointer;
  
}


.bot2 {
    display: inline-block;
    background: #000;
    color: #fff;
    padding: 0.9rem 1.9rem;
    margin-top: 2rem;
    cursor: pointer;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: italic;
    color: aliceblue;
    background-position: center;
    background-color: #2c560f;
    text-align: center;
}

.media-object {
    height: 300px;
    text-align: right;
}