@charset "utf-8";
body {
    background-color: rgb(225, 173, 223);
    color: #001;
    font-family: verdana;
   }
h1 {
 background-color: pink;
 color: rgb(72, 30, 150);
 font-family: Courier, "Lucida Console", monospace;
 font-weight:  800%;
 font-size: 55px #d87fb0;
 font-style: oblique;
 text-align: left;

}
h2{
 background-color: rgb(232, 135, 151);
 color: rgb(100, 48, 197);
 font-family: sans-serif;
 font-weight: 800%;
 font-size:55px #8c1255;
 font-style:italic;
 text-align: left;
}


#terror{
 background-color: #50d7e4;
 color: black;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 text-align: left;
 text-shadow: 25px;
 }

#romance {
    background-color: #d032a6;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    text-shadow: 25px; 
       }
   
#acao { background-color: #ec6758;
    color: black;
    font-family: Georgia, "Times New Roman", serif;
    text-align: left;
    text-shadow: 25px;
       }

footer {
 font-family: 'Courier New', Courier, monospace;
 color: rgb(0, 0, 0);
 font-size: 0.80em;
 font-style: italic;
}