* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: normal;
    text-align: center;
    background-image: url("./img/fundo.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin: auto;
    width: 500px;
    overflow: auto;
    padding: 3rem 2rem;
    border:solid 3px rgb(55, 44, 44);
    background-color: cornflowerblue;
}
h1{
    text-align: center;
    color: rgb(167, 102, 228);
    font-size: 50px;
    text-shadow: 0 0 0.1em rgb(5, 5, 5), 0 0 0.1em rgb(22, 21, 21);
}

h2 {
font-size: 30px;
text-align: center;
color: darkblue;
    
}
#usuario input[type='text'] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#usuario input[type='number'] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
#usuario input[type='date'] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}


.btn {
    border: 3px groove #dacbcb46;
    font-size: 15px;
    background-color: hsla(49, 9%, 77%, 0.562);
    color: rgb(15, 14, 14);
    padding: 5px 10px;
    font-style: italic;
    text-align: center;
    text-decoration: none;
    font-family: 'arial';
    border-radius: 15px;
}

.btn:hover {
    background: rgb(71, 70, 70);
    color: bisque;
}